<:Body>
  <div class="toolbar-container">
    <span class="ql-format-group"><span title="Bold" class="ql-format-button ql-bold"></span><span class="ql-format-separator"></span><span title="Italic" class="ql-format-button ql-italic"></span><span class="ql-format-separator"></span><span title="Underline" class="ql-format-button ql-underline"></span><span class="ql-format-separator"></span><span title="Link" class="ql-format-button ql-link"></span><span class="ql-format-separator"></span><input type="checkbox" checked="{{ cookies._html }}">&nbsp;HTML</input></div>
